.highlighted{
    stroke: #404040;;
    stroke-width:2;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #e1dcd6;
    text-align: center;
}

h1 {
    font-weight: 100;
    margin-top: 50px;
}

h2 {
    font-weight: 300;
    font-size: 18px;
    margin-bottom: 40px;
}